/* variables */
:root {
    --bg : rgb(208, 224, 232);
    --col1 : rgb(62, 114, 139);
    /* --col2 : red; */
    --col2 : rgb(246, 252, 254);
}

/* body, headers, paragraph base format */
body {
    background-color : var(--bg);
    background-attachment: fixed;
    font-family: Monospace;
    color: var(--col2);
    text-align: center;
    font-size: 150%;
}
h1 {
    color: var(--bg); 
    font-size: 350%;
    letter-spacing: -2px;
    background-color: var(--col1);
    padding: 20px;
} 
h2 {
    color: var(--col1);
    font-size: 200%;
    padding: 5px;
}
h3 {
    font-size: 150%;
    color: var(--col1);
}
p {
    font-size: 110%;
    margin: 20px;
    background-color: var(--col2);
    color: var(--col1); 
    padding: 20px;
}

 /* refrences formatting */
 .refrences {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.refrences p {
    color: var(--bg);
    background-color: var(--col1);
    padding: 30px;
    margin: 20px;
    font-size: 125%;
}
.refrences li p:hover {
    background-color: var(--col2);
    color: var(--col1);
}
a:visited{
    color: var(--col1);
}

 /* first two static viz formatting */
img {
    min-width: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline-style: solid;
    outline-color: var(--bg);
}
.column {
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--col2);
}

 /* third static viz formatting - D3 */
.static3_ {
    margin:20px;
    background-color: var(--col2);
    color: var(--col1); 
    padding-left: 40px;
    padding-right: 40px;
}
.static3_ p {
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#svg-container {
    width: 100%;
    height: auto;
    max-width: 100%;
    position: relative;
    outline-style: solid;
    outline-color: var(--bg);
}
svg {
    width: 100%;
    height: auto;
    display: block;
}

 /* navigation buttons formatting */
.button {
    padding: 10px 20px;
    font-size: 1rem;
    font-family: Monospace;
    background-color: var(--col1);
    color: var(--col2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.button:hover {
    background-color: var(--col2);
    color: var(--col1);
    transform: scale(1.05);
}
